h2 {
    text-align: center;
}

a {
    text-decoration: underline;
}

.me {
    border-bottom: none;
}

.meContainer {
    margin-left: 180px;
    max-width: 600px;
    max-height: 350px;
}

.meContainer p {
    margin-bottom: 50px;
}

#linkedIn {
    color: #0072b1;
}

@media only screen and (max-width: 1200px) {
    .meContainer {
        word-break: break-all;
        hyphens: auto;
    }
}