h2 {
    text-align: center;
    margin-bottom: 50px;
}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    column-gap: 10px;
    row-gap: 275px;
    justify-items: center;
    margin: 0px 50px;
}

.project img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.project p {
    text-align: center;
    overflow-wrap: break-word;
}